body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.componentExamplesWrapper {
  padding: 10px 20px;
  box-sizing: border-box;
}

.componentExamplesWrapper h1 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011111;
  color: white
}

h1, h2 {
  font-weight: 500;
}

.examples-grid > div {
  height: 100px;
  margin: 20px 20px;
  padding: 20px;
  border-bottom: 3px #ffffff solid;
}

.examples-grid > div:hover { border-bottom: 3px #011111 solid;}

.examples-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


