.reactDatepicker {
  width: 150px;
}

.datepickerInput {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.datepickerInput input {
  width: 100%;
  padding: 2px;
  position: absolute;
  left: 0;
}

.datepickerInput > img {
  position: relative;
  left: 90%;
  height: 15px;
  z-index: 3;
}

.datepickerWrapper {
  float: left;
  position: absolute;
  left: 20px;
  width: 220px;
  height: auto;
  background: #ffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 15px 15px;
  z-index: 4;
}

.datepickerHead {
  float: left;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-around;
}

.datepickerHeadButton {
  display: flex;
  float: left;
  width: 30px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  justify-content: center;
}

.datepickerHeadButton >img {
  height: 15px;
  cursor: pointer;
}

.datepickerHeadButtonInner {
  float: left;
  height: 18px;
  width: 18px;
  background: #f4f4f4;
  border-radius: 100%;
  line-height: 35px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -10px;
}

.datepickerHeadButtonInner:hover {
  background-color: #eeee;
  cursor: pointer;
}


.datepickerHeadDates {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.datepickerHeadMonth,
.datepickerHeadYear {
  min-width: 40px;
}

.datepickerHeadMonth,
.datepickerHeadYear,
.datepickerHeadDates span {
  font-size: 16px;
  color: #666;
  font-weight: 200px;
  text-align: center;
  margin: 0px 1px;
  cursor: pointer;
}

.datepickerArray {
  position: absolute;
    top: 5px;
    min-height: 0px;
    max-height: 100px;
    width: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffff;
    z-index: 3;
    padding: 0;
}

.datepickerArray li {
  text-align: left;
  list-style-type: none;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.datepickerBody {
  float: left;
  width: 100%;
  margin-top: 5px;
}

.datepickerWeekdaysMarkup {
  position: relative;
  display: flex;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #666;
  font-size: 13.5px;
  text-align: center;
}

.datepickerWeekdaysMarkup div {
  width: 14.285%;
}

.datepickerCalendar {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  width: 100%;
}

.datepickerMonthArray {
  position: absolute;
  top: 5px;
  min-height: 0px;
  max-height: 100px;
  width: 80px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffff;
  z-index: 3;
  padding: 0;
}

.datepickerMonthArray li {
  text-align: left;
  list-style-type: none;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.daysMarkup {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
  text-align: center;
  font-size: 13.5px;
}

.inputIcon {
  position: relative;
  left: 90%;
  height: 15px;
  z-index: 3;
}

.calendarDaysWrapper {
  display: flex;
  flex-wrap: wrap;
}

.highlighted {
  background-color: #e0f2ff;
}

.highlightToday {
  background-color: lightgrey;
}

.disabledDays {
  color: lightgray;
  cursor: default !important;
}

.calendarDay {
  width: 14%;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.calendarDay:not(.disabledDays):hover {
  background-color: lightgrey;
}

.datepickerOtherMonth {
  opacity: 0.5;
  cursor: default;
}


.datepickerCloseButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datepickerCloseButton button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f4f4f4;
}
